header {
    color: $white;
    font-family: $primaryFont;
    width: 100%;
    margin-top: 2vw;
    @include flexSpace();
        h4 {
            font-size: 2vw;
            font-family: $heading;
            font-weight: lighter
        }
        .menu {
            @include flex();
            font-size: 1.5vw;
            width: 50%;
            :hover {
                color: $hover;
                @include pointer();
                border-bottom: 1px solid $white;
            }
        }
        .img{
            display: none;
        }
        .heading {
            width: 30%;
            padding-left: 2vw;
        }
        .head-button {
            width: 20%;
        }
}

@media screen and (max-width: 800px) {
    header .img {
        display: inline;
        margin-right: 2vw;
    }
    header .menu, button{
        display: none;
    }
}