@mixin flexSpace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin touchButton {
    color: $black;
    font-size: 1vw;
    width: 10vw;
    height: 3.5vw;
    background-color: yellow;
    border: none;
}

@mixin flex {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    
}

@mixin normalFlex {
    display: flex;
    justify-content: space-between;
}

@mixin pointer {
    cursor: pointer;
}